[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}

[data-theme="dark"] * {
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

[data-theme="dark"] *:not(.btn), [data-theme="dark"] .bg-whitesmoke {
  background-color: #333 !important;
  color: #eee !important;
}

[data-theme="dark"] .main-content {
  background-color: #111 !important;
  color: #eee !important;
}